# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea

node_modules

dist

.build

.electron-builder.helper.json
.electron-builder.helper.x64.json

.gitignore

design

.DS_Store